/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/05/2021, 20:32:13
    Author     : luans
*/
#go-back{
margin-top: 10%;
}
#pay-boleto{
    margin-left: 70%;
}
#nav-stepper{
    margin-top: 70px;
}
.msg {
  width:90%;
  border: 1px solid;
  padding:10px;
  margin: 20px;
  color: grey;
}
.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}

.titulo{
    margin-left: 50%;
}
.prod-img{
    height: 80px;
    width: 90px;
    border-radius: 360px;

}
#product-listing{
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}

#step a:first-child{
    margin-left: 35%;
}
.change-quantity{
    margin-bottom: -5%;
}
#go-address{
    margin-top: 2%;
    margin-left: 45%;
    margin-bottom: 5%;
}
#titulo{
    text-align: center
}

#pagamento{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8%;
}
#payment-title{
    margin-left: 20%;
}

#valorTotal{
   text-align: center;
   font-size: 40px;
}


#endCadastrado{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
}
.radiobutton-label{
    color: black;
}
#send-button{
    margin-left: 45%;
    margin-top: 5%;
}

#formCep{
    margin-top: 50px;
    width: 50%;
    margin: 50px auto;
     
}
#formCep  #cep{
    width: 40%;
}
input[type=submit]{
    display: block;
    margin: 10px;
    
}
#endereco{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    
}

#vazio{
    margin-top: 300px;
    text-align: center;
}
#other-option{
    text-align: center;
}